<div class="question_form">
  <%= form_for @question do |form| %>
    <%= form.label :title %>
    <%= h form.text_field :title %>
    <%= form.label :description %>
    <%= h form.text_field :description %>
    <%= form.submit %>
  <% end %>
</div>
