.signup_form
  = form_for @user do |form|
    = h form.text_field :username, :required => true, :placeholder => :username
    = h form.text_field :email, :required => true, :placeholder => :email 
    = h form.password_field :password, :required => true, :placeholder => :password 
    = form.submit
