<div class="answer_form">
  <%= form_for Answer.create do |form| %>
    <p><%= form.label :answer, "Answer:" %></p>
    <%= h form.text_field :description %><br>
    <%= form.hidden_field :answerable_type, :value => "Answer" %>
    <%= form.hidden_field :answerable_id, :value => answer.id %>
    <%= form.hidden_field :question_id, :value => question.id %>
    <%= form.submit "Submit Answer" %>
  <% end %>
</div>
