<nav>
  <ul>
    <% unless current_user %>
      <li id="login_button"><%= link_to "Login"%></li>
      <li id="signup_button"><%= link_to "Signup"%></li>
    <% end %>
    <% if current_user %>
      <li><%= link_to "Logout", session_path, :method => :delete %></li>
      <li><%= link_to "Profile", user_path(current_user) %></li>
      <li><%= link_to "Home", questions_path %></li>
    <% end %>
  </ul>
</nav>

