!!!
%html
  %head
    %title SfOverflow
    #{stylesheet_link_tag "application", :media=>"all"}
    #{javascript_include_tag "application"}
    #{csrf_meta_tags}
    %link{:href=>'http://fonts.googleapis.com/css?family=Candal', :rel=>'stylesheet', :type=>'text/css'}
    %script{:type=>"text/javascript", :src=>"https://maps.googleapis.com/maps/api/js?key=AIzaSyB0HosT5WJ_tC6BiqwQdmtdb5tXGWdu7xc&sensor=false"}
    %body
      = render "layouts/navbar"
      .container
        = yield
